<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    

    <% this.text %>
    
	<form action="/uploads" method="post" enctype="multipart/form-data" >
		<input type="file" name="file" />
		<input type="submit" value="submit" />
	</form>
	

<script src="/static/js/jquery-1.7.1.js" ></script>

<script type="text/javascript" src="/static/js/vue.min.js"></script>

<script type="text/javascript">

    var d = {
        name: "xythree",
        phone: 123456
    };

    $.post("/test", d, function (data) {
        console.log(data);
    });



</script>


</body>
</html>







