<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    

    <% this.text %>
    

<script src="http://static.qg8.com//qg8_platform/scripts/plug/jquery-1.7.1.js" ></script>

<script type="text/javascript" src="/static/vue.min.js"></script>
<script type="text/javascript">

    var d = {
        name: "xythree",
        phone: 123456
    }
    
    $.post("/test", d, function (data) {
    
        console.log(data)
        
    })
    

</script>


</body>
</html>







